<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Alexandria Online</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        @* Home *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>

            <Authorized>

                @* Name *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-person" aria-hidden="true"></span> @context.User?.Identity?.Name
                    </NavLink>
                </div>

                @* Log Out *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </NavLink>
                </div>
                <hr />

                @* Authors *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authors/">
                        <span class="oi oi-person" aria-hidden="true"></span> Authors
                    </NavLink>
                </div>

                @* Books *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="books/">
                        <span class="oi oi-book" aria-hidden="true"></span> Books
                    </NavLink>
                </div>

            </Authorized>

            <NotAuthorized>

                @* Login *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </div>

            </NotAuthorized>

        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

