<button type="button" @onclick="GoBack" class="btn absolute">
    <span class="oi oi-arrow-left" aria-hidden="true"></span>
</button>

@code {
    [Inject] NavigationManager NavManager { get; set; }


    [Parameter]
    public string backLink {get; set;}

    void GoBack()
    {
        NavManager.NavigateTo(backLink);
    }
}
