@inherits LayoutComponentBase

<div class="position-relative">
    <a class="back-button" href="/">x</a>
</div>

<div class="container">
    <div>
        <img src="svgs/svg-book-summer.svg" alt="book club summer" width="300" height="300" />
    </div>

    <div class="horizontal-line-gray"></div>

    @* Login / Register *@
    <div class="form-container">
        @Body
    </div>
</div>


