@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<PageTitle>Sethify</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                @* Login *@
                <NotAuthorized>
                    <a href="/users/login" class="login-link">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                    </a>    
                </NotAuthorized>
                
                <Authorized>
                    @* Profile
                    <div>
                        <a href="user/account" class="profile-link"><span class="oi oi-person" aria-hidden="true"></span> Account</a>
                    </div>

                    *@

                    @* Logout *@
                    <a href="/users/logout" class="login-link">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </a>
                </Authorized>

            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
