.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}
/* the top part of navbar - darker shaded */
.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}
/* brand/text at top of navbar  */
.navbar-brand {
    font-size: 1.1rem;
}
/*  */
.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    margin-left: 0;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
