@layout LoginLayout
@page "/users/login"
<PageTitle>Login</PageTitle>

@* CONTENT *@
<h3>Login</h3>


<EditForm Model="LoginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="email">Email Address</label>
        <InputText class="form-control" @bind-Value="LoginModel.Email" id="email" />
        <ValidationMessage For="@(() => LoginModel.Email)" />
    </div>

    <div class="mb-4">
        <label for="password">Password</label>
        <InputText class="form-control" type="password" @bind-Value="LoginModel.Password" id="password" />
        <ValidationMessage For="@(() => LoginModel.Password)" />
    </div>

    <div class="d-flex gap-3 align-items-center">
        <div>
            <SubmitButton IsLoading="_loading"></SubmitButton>
        </div>
        <div>
            <a class="btn btn-link" href="/users/register">Sign Up</a>
        </div>
    </div>
</EditForm>
