@layout LoginLayout
@page "/users/register"
<PageTitle>Register</PageTitle>


@* CONTENT *@
<h3>Register New Account</h3>

<EditForm Model="RegistrationModel" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="email">Email Address</label>
        <InputText class="form-control" @bind-Value="RegistrationModel.Email" id="email" />
        <ValidationMessage For="@(() => RegistrationModel.Email)" />
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="lastName">First Name</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.FirstName" id="lastName" />
            <ValidationMessage For="@(() => RegistrationModel.FirstName)" />
        </div>
        <div class="col">
            <label for="firstName">Last Name</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.LastName" id="firstName" />
            <ValidationMessage For="@(() => RegistrationModel.LastName)" />
        </div>
    </div>

    <div class="mb-4">
        <label for="password">Password</label>
        <InputText class="form-control" type="password" @bind-Value="RegistrationModel.Password" id="password" />
        <ValidationMessage For="@(() => RegistrationModel.Password)" />
    </div>

    <!--
    <div class="mb-4">
        <label for="confirmPassword">Confirm Password</label>
        <input class="form-control" type="password" id="confirmPassword" />
    </div>
    -->
    <div class="d-flex gap-3 align-items-end">
        <div>
            <SubmitButton></SubmitButton>
        </div>
        <div>
            <a class="btn btn-link" href="/users/login">Login</a>
        </div>
    </div>
</EditForm>
